*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html,body{
   height: 100vh;  
}


/* header ======================================================== */
header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background-color:#9a643c ;
    width: 100vw;
    height: 82px;
    
}

.ul-nav{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content:space-evenly;
    list-style-type: none;
    align-items: center;
    justify-items: center;
    margin-right: 8px;
}



.ul-nav li a {
    color: rgb(0, 0, 0);
}

header img{
   border-radius: 50px;
   height: 70px; 
   margin-left: 8px;
}

